@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgba(190, 130, 255, 1);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: white;
}

body {
  font-family: "Roboto", sans-serif;
}

h4 {
  @apply text-2xl text-white tracking-wide border-b-2 border-b-white mb-2 mx-2;
  font-family: "Alkalami", serif;
}

form {
  @apply w-full flex flex-wrap;
}